<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aniket Singh</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/unicons.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="static/css/tooplate-style.css">
    
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>
    
    <div id="rasa-chat-widget" data-websocket-url="http://0.0.0.0:5005"></div>
    <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="templates/index.html"><i class='uil uil-user'></i>Aniket</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                    <li class="nav-item">
                      <a href="#blogs" class="nav-link"><span data-hover="Blogs">Blogs</span></a>
                  </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Hey folks, I'm</span>
                                <div class="animated-info">
                                    <span class="animated-item">Aniket Singh</span>
                                    <span class="animated-item">An Engineer</span>
                                    <!-- <span class="animated-item">Deep Learning Enthusiast</span> -->
                                </div>
                        </h1>

                        <p>I am a Software Engineer, specializing in Deep Learning, Computer Vision and Cloud Technologies. When I am not coding, 
                          I love to cycle around my city, read some fiction and hangout with my friends.</p>
                        
                        <div class="custom-btn-group mt-4">
                          <a target = "_blank"href="https://drive.google.com/file/d/1LPQH8jwJ6O2tLIdTcljytot4pdf4xFY6/view?usp=sharing" 
                          class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i>Here's my Resume</a>
                          <a target = "_blank" href="mailto:bruces1998@gmail.com" class="btn custom-btn custom-btn-bg custom-btn-link">My Email</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="static/images/undraw/undraw_software_engineer_lvl4.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    


  
<section id="blogs">
<!-- partial:index.partial.html -->
<section class="container">
  
  <div class="container mt-5 pt-5" id="medium">
    <div class="col-lg-8 text-center mx-auto">
      <h2>My Blogs</h2>
    </div>
    <div class="row" id="jsonContent">
    </div>
</div>
        <!-- <ul id="pagin" class="pagination">
        </ul> -->

    <div class="text-center">
        <div class="mb-5">
            <a class="btn btn-outline-primary btn-lg mb-5" href="https://medium.com/@bruces1998">View all Blogs</a>
        </div>
    </div>
</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="static/js/script.js"></script>

</section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>Projects</h2>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="static/images/project/Emotion_Detector.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="static/images/project/mask_detector.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <!-- <div class="item">
                          <div class="project-info">
                            <img src="static/images/project/project-image03.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="static/images/project/project-image04.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="static/images/project/project-image05.png" class="img-fluid" alt="project image">
                          </div>
                        </div> -->
                      </div>

                  </div>
                </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Experiences</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>Present</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Senior Consultant</span><small>Larsen & Toubro Infotech</small></h3>
                                  <p>Working on Conversational AI with Oracle Business Unit.</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>Dec 2020</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Machine Learning Intern</span><small>Cerebranium</small></h3>
                                <p>Worked on creating Computer Vision solutions for AI Proctoring.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>Dec 2019</span>
                            </div>
                            <div class="timeline-info">
                              <h3><span>Research Intern</span><small>IIIT Allahabad</small></h3>
                                <p>Worked on Object Detection, Live Detection and Object Semantics.</p>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>June 2019</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Junior Data Scientist<small>SpiceTech</small></h3>
                                <p>Worked on creating email spam detection, macros detector.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2021</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>BE-IT</span><small>VIT Mumbai</small></h3>
                                  <ul>
                                    <li>Secured a CGPA of 9.30/10.00</li>
                                    <li>Department Topper for Semester III.</li>
                                    <li>Class Representative: August 2017 - May 2021</li>
                                  <ul>
                                  <!-- <p>Took coursework Data Structures and Algorithms, Database Management System, Python Programming, 
                                    Artificial Intelligence, Cloud Computing, Computer Networks. Class Representa </p> -->
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2017</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>HSC</span><small>MH High School</small></h3>
                                
                                  <ul>
                                    <li>Graduated from MH High School specializing in electrical maintenance.</li>
                                  </ul>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2015</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>SSC</span><small>SVPM</small></h3>
                                <ul>
                                  <li>Completed my Schooling from SVPM, stood first in the school for SSC exams.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 mr-lg-5 col-12">
            <div class="google-map w-100">
              <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15069.82562040148!2d72.97488019786988!3d19.218930904080384!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1637750558556!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                <div class="contact-info-item">
                  <h3 class="mb-3 text-white">Say hello</h3>
                  <p class="footer-text mb-0">(+91)7028319985</p>
                  <p><a href="mailto:bruces1998@gmail.com">bruces1998@gmail.com</a></p>
                </div>

                <ul class="social-links">
                     <!-- <li><a href="www.linkedin.com/in/aniketdsingh" class="uil uil-instagram" data-toggle="tooltip" data-placement="left" title="Dribbble"></a></li>
                     <li><a href="www.instagram.com/aniiiket_singh" class="uil uil-instagram" data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                     <li><a href="www.github.com/Bruces1998" class="uil uil-github" data-toggle="tooltip" data-placement="left" title="Youtube"></a></li> -->
                      <li><a target="_blank" class="btn btn-outline-light btn-sm btn-social mx-1" href="https://www.linkedin.com/in/aniketdsingh"><i class="fab fa-fw fa-linkedin-in"></i></a></li>
                    
                      <li><a target="_blank" class="btn btn-outline-light btn-sm btn-social mx-1" href="www.instagram.com/aniiiket_singh"><i class="fab fa-fw fa-instagram"></i></a></li>
                      
                      <li><a target="_blank" class="btn btn-outline-light btn-sm btn-social mx-1" href="www.github.com/Bruces1998"><i class="fab fa-fw  fa-github"></i></a></li>
                      
                      <li><a target="_blank" class="btn btn-outline-light btn-sm btn-social mx-1" href="https://medium.com/@bruces1998"><i class="fab fa-fw fa-medium"></i></a></li>

                </ul>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Interested to work together? Let's talk</h2>

              <form action="" method="get">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
                  </div>

                  <div class="col-lg-6 col-12">
                    <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                  </div>

                  <div class="col-12">
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                  </div>

                  <div class="ml-lg-auto col-lg-5 col-12">
                    <input type="submit" class="form-control submit-btn" value="Send Button">
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; 2021 Aniket Singh . All rights reserved</p>                    </div>
                    
               </div>
          </div>
     </footer>
     <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/Headroom.js"></script>
    <script src="static/js/jQuery.headroom.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/custom.js"></script>

  </body>
</html>
